@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Champ';
  src: url('/fonts/Champ.woff2') format('woff2'),
       url('/fonts/Champ.woff') format('woff');
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
